body {

    background-color: #eee !important;}
.container{background-color: white;
        padding-top: 25px !important;
    margin-top: 20px;
    margin-bottom:35px ;
        border-style: solid;
        border-width: thin;
        border-color: rgb(199, 196, 196);
    }
     
     
.navbar{
    height: 50px;

margin-top: 20px;
background-color: #2d2654;
;

}
.nav a{
    color: #BBBBBB;
    font-size:16px;
    padding: 10px;
    font-family: DroidSans ;
    text-decoration: none;
  
text-align: center;}

    .nav a:visited {
        color:#BBBBBB ;
    }
    .nav a:hover {
        color:#ededed ;
        text-decoration: none;
    }
    .nav a:active {
        color:white ;
    }
    .nav li {
        display: inline-block;}

 img {
     float: right;
          }
         
.vertical-bord{
    border-right: 0.5px dashed #fffff0;
    border-color: rgb(187, 183, 183);
}


 
.horizontal-bord{
    border-bottom: 0.5px dashed #fffff0;
    border-color: rgb(187, 183, 183);
}
.name{ 
    margin-bottom:-20px!important;
       font-size: 36px;
       font-size: 1.7em;
       color: #2d2654;
       text-align: center;
       line-height: 32px;
       font-weight: bolder;}
       h1{
  
        text-align: center;
      text-decoration: none;
    }
    .container h1 a:hover{
        text-decoration: none;
        color: #2d2654;
    }